// Font
@import url('https://fonts.googleapis.com/css?family=Lora:400|Open+Sans:400,700');


// Bootstrap
@import 'bootstrap/functions';
@import 'bootstrap-variables';
@import 'bootstrap/variables';
@import 'bootstrap/mixins';
@import 'bootstrap/root';
@import 'bootstrap/reboot';
@import 'bootstrap/grid';
@import 'bootstrap/type';
@import 'bootstrap/tables';
// @import "bootstrap/images";
// @import "bootstrap/code";
// @import "bootstrap/forms";
// @import "bootstrap/buttons";
// @import "bootstrap/transitions";
// @import "bootstrap/dropdown";
// @import "bootstrap/button-group";
// @import "bootstrap/input-group";
// @import "bootstrap/custom-forms";
// @import "bootstrap/nav";
// @import "bootstrap/navbar";
// @import "bootstrap/card";
// @import "bootstrap/breadcrumb";
// @import "bootstrap/pagination";
// @import "bootstrap/badge";
// @import "bootstrap/jumbotron";
// @import "bootstrap/alert";
// @import "bootstrap/progress";
// @import "bootstrap/media";
// @import "bootstrap/list-group";
// @import "bootstrap/close";
// @import "bootstrap/modal";
// @import "bootstrap/tooltip";
// @import "bootstrap/popover";
// @import "bootstrap/carousel";
// @import "bootstrap/print";
@import 'bootstrap/utilities';

// Libraries
@import 'libraries/hamburgers/hamburgers';

// Components
@import 'components/page';
@import 'components/header';
@import 'components/footer';
@import 'components/sub-footer';
@import 'components/logo';
@import 'components/main-menu';
@import 'components/main-menu-mobile';
@import 'components/social';
@import 'components/hamburger';
@import 'components/buttons';
@import 'components/title';
@import 'components/content';
@import 'components/intro';
@import 'components/strip';
@import 'components/whitebox';
@import 'components/feature';
@import 'components/call';
@import 'components/card';
@import 'components/card-two';

// Pages
@import 'pages/home';
@import 'pages/team/page-teams';
@import 'pages/testimonials/page-testimonials';
@import 'pages/testimonials/testimonial';
@import 'pages/services/page-services';
@import 'pages/services/page-service';

// Display breakpoints for DEV
// body:after {
//   color: #000000;
//   font-size: 12px;
//   padding: 5px;
//   font-weight: bold;
//   right: 10px;
//   position: fixed;
//   text-align: center;
//   text-transform: uppercase;
//   bottom: 10px;
//   width: 200px;
//   z-index: 9999;
//   border: solid 1px #000000;
//   @each $name, $value in $grid-breakpoints {
//     @include media-breakpoint-up($name) {
//       content: "#{$name} - min-width: #{$value}";
//     }
//   }
// }


@font-face {
  font-family: 'Kremlin';
  src: url('../fonts/kremlin.ttf'); /* IE9 Compat Modes */
}

.intro h1 {
  font-family: Kremlin;
  font-size:90px;
  color:#000000;
  line-height: 80px;
}

.intro h2 {
	font-family: Kremlin;
}

@media (max-width: 768px) {
	.intro h1 {
		font-size:50px;
		line-height: 50px;
	}
}

.inline {display: inline;font-size: 50px;}
.hash {font-size: 45px;color:#90d1cb}
.one {color:#90d1cb;}
.two{color:#4b8333;}
.three {color:#91cd4a;}